* {
  margin: 0;
  padding: 0;
}

body{
  background: #343E3D;
  }
  
  h1{
  width: 1110px;
  height: 294px;
  top: 525px;

  
  font-family: Roboto;
  font-style: normal;
  font-weight: 90000;
  font-size: 84px;
  line-height: 98px;
  text-align: center;
  
  color: #AEDCC0;
  }
  
  button{
  position: absolute;
  width: 263px;
  height: 100px;
  left: 599px;
  top: 930px;
  background: #607466 !important;
  align-content: center;
  }
  
  p .skills{
  position: absolute;
  width: 100vh;
  height: 52px;
  left: 581px;
  top: 424px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  
  color: #AEDCC0;
}