
body{
  background: #343E3D;
  }
  .projects {
    display: flex;
    align-items: center;
    flex-direction: row;

   }
   #resumeimg{
     padding: 2rem 2rem;
     margin-left: 8rem;
   }
   .pimg {
    padding: 10rem, 3rem, 3rem, 3rem;
    display: flex;
    width: 25rem;
    height: 15rem;
    margin: 10rem, 10rem;
  
   }
   .intro{
  padding-top: 10rem;
   }
  h1{
    position: absolute;
    align-content: center;
    margin-left: 6rem;
    margin-bottom: 10rem;
    width: 1110px;    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 94px;
    line-height: 98px;
    text-align: center;
    color: #AEDCC0;
  }
  
  #aboutme {
    position: absolute;
    align-content: center;
    margin-left: 6rem;
    padding-top: 10rem;
    width: 1110px;
 
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 94px;
    line-height: 98px;
    text-align: center;
    color: #AEDCC0;
}
